body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #333;
    color: #fff;
    font-family: Arial, sans-serif;
}

#tetris {
    display: flex;
    align-items: start;
}

#tetris-board {
    border: 2px solid #fff;
}

#score {
    padding-left: 20px;
    font-size: 20px;
}
